.admin-header {
  margin: 2vw 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  justify-content: space-between;

  h1 {
    font-weight: 500;
    font-size: 2vw;
  }
}

div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;

  .user-dashboard {
    background-color: #1b2028;
    width: 50%;
    height: 80vh;
    margin: 0 1vw 0 2vw;
    border-radius: 1vw;

    h2 {
      text-align: center;
      font-size: 1.3vw;
      font-weight: initial;
      margin: 0.4vw 0;
    }

    div {
      overflow-y: scroll;
      scrollbar-width: none;
      height: 36vw;

      table {
        font-size: 1vw;
        width: 100%;

        thead {
          td {
            color: #f49d00;
          }
        }

        thead,
        tr {
          display: grid;
          grid-template-columns: 15% 40% 15% 30%;
          justify-items: center;
          align-items: center;
          padding: 1vw 2vw;

          button {
            background: none;
            border: none;
            font-size: 1vw;
            font-family: "Montserrat", sans-serif;
          }

          button:disabled {
            cursor: default;
          }

          .active {
            color: #20ffa9;
          }

          .deleted {
            color: #ff2020;
          }
        }
      }
    }
  }

  .currency-dashboard {
    background-color: #1b2028;
    width: 50%;
    height: 80vh;
    margin: 0 2vw 0 1vw;
    border-radius: 1vw;

    h2 {
      text-align: center;
      font-size: 1.3vw;
      font-weight: initial;
      margin: 0.4vw 0;
    }

    div {
      overflow-y: scroll;
      scrollbar-width: none;
      height: 36vw;

      table {
        font-size: 1vw;
        width: 100%;

        thead {
          td {
            color: #f49d00;
          }
        }

        thead,
        tr {
          display: grid;
          grid-template-columns: 10% 45% 25% 20%;
          justify-items: center;
          align-items: center;
          padding: 1vw 2vw;
        }

        thead {
          button {
            background: none;
            border: none;
            font-size: inherit;
            font-family: inherit;
            color: inherit;
          }
        }

        tr button {
          background: none;
          border: none;
          font-size: 1vw;
          font-family: "Montserrat", sans-serif;
          color: #8ec09b;
        }
      }
    }
  }
}
