<header class="currencies-header">
  <h1>All Our Currencies</h1>
</header>
<section class="currencies">
  @for (currency of currencyService.currencies; track $index){
  <div class="currency-card">
    <div class="card-body">
      <div class="symbol-ctn">
        <p>{{currency.symbol}}</p>
      </div>
      <div>
        <p>{{currency.name}}</p>
        <p class="ISOCode">{{currency.isoCode}}</p>
      </div>
    </div>
    <div class="card-footer">
      <p>EXR: {{currency.exchangeRate}}</p>
      <aside>
        <img src="/assets/vectors/heart.svg" alt="Add to favorites.">
      </aside>
    </div>
  </div>
  } @empty {
  <div class="no-currencies-ctn">
    <div>
      <img src="/assets/images/no-currencies.png" alt="No currencies available.">
      <p>No currencies found!</p>
    </div>
  </div>
  }
</section>
