.home-header {
  margin: 2vw 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  justify-content: space-between;

  h1 {
    font-weight: 500;
    font-size: 2vw;
  }

  p {
    font-size: 1.5vw;
  }
}

div {
  display: flex;
  flex-direction: row;

  div {
    display: flex;
    flex-direction: column;

    .conversion {
      width: 50vw;
      height: 30vw;
      color: #ffffff;
      font-family: "Montserrat", sans-serif;

      form {
        width: 45vw;
        height: 30vw;
        margin: 0 2vw;
        background-color: #1b2028;
        border-radius: 2vw;

        h2 {
          font-size: 2vw;
          padding: 1vw 2vw;
        }

        fieldset {
          margin: 1vw 5vw;
          border: none;
          display: flex;
          flex-direction: column;

          .form-column {
            display: flex;
            flex-direction: row;
            font-size: 1.8vw;
            align-items: center;
            justify-content: space-between;
            margin: 2vw 0;

            div {
              display: flex;
              flex-direction: column;
              justify-content: left;

              input,
              .output {
                font-family: "Montserrat", sans-serif;
                margin-top: 0.5vw;
                width: 12vw;
                height: 2vw;
                font-size: 1.5vw;
                border: none;
                background-color: inherit;
                border-radius: 1vw;
                color: #4da162;
              }

              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
              }

              input:focus {
                outline: none;
              }

              select {
                margin-top: 0.5vw;
                width: 12vw;
                height: 2vw;
                font-size: 1.2vw;
                border: none;
                border-radius: 0.2vw;
                padding: 0.2vw;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
              }

              select:focus {
                outline: none;
              }
            }
          }
        }

        .btn-ctn {
          display: flex;
          flex-direction: row;
          justify-content: right;
          width: inherit;

          button {
            border: none;
            background-color: #8ec09b;
            color: #ffffffb2;
            display: inline-block;
            padding: 0.6vw 1.8vw;
            border-radius: 0.5vw;
            margin: 1vw 2vw;
          }

          button a {
            display: inline-block;
            position: relative;
            transition: 0.5s;
            font-size: 1.4vw;
            font-family: "DM Mono", Verdana, sans-serif;
          }

          button a:after {
            content: "\00bb";
            position: absolute;
            opacity: 0;
            top: 0;
            right: -1.042vw;
            transition: 0.5s;
          }

          .btn-enabled {
            background-color: #57b570;
            color: #ffffff;
          }

          .btn-enabled:hover a {
            padding-right: 1.302vw;
          }

          .btn-enabled:hover a:after {
            opacity: 1;
            right: 0;
          }

          .btn-disabled {
            cursor: default;
          }
        }
      }
    }

    .info {
      width: 50vw;
      height: 13vw;
      color: #ffffff;

      div {
        width: 41.001vw;
        background-color: #1b2028;
        margin: 2vw 2vw 0;
        padding: 1.5vw 2vw;
        border-radius: 2vw;

        h3 {
          width: 20vw;
          font-size: 1.3vw;
        }

        p {
          width: 20vw;
          margin-top: 1vw;
        }
      }
    }
  }

  .faves {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36vw;
    height: 43vw;
    overflow: scroll;
    scrollbar-width: none;

    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 2vw;
      color: #ffffff;
      margin-top: 1vw;
      margin-bottom: 0;
    }

    h2:after {
      content: "";
      display: block;
      height: 0.1vw;
      width: 19vw;
      margin: 0.8vw auto 0;
      background-color: #1b2028;
    }

    .currencies {
      overflow: scroll;
      scrollbar-width: none;
      height: inherit;

      .currency-card {
        color: #ffffff;
        width: 18vw;
        height: 10vw;
        background-color: #1b2028;
        border-radius: 1vw;
        display: flex;
        flex-direction: column;
        margin: 0.5vw 0;

        .card-body {
          margin: 0.5vw;
          display: flex;
          flex-direction: row;

          .symbol-ctn {
            background-color: #f49d00;
            margin: 0.5vw;
            width: 3vw;
            height: 3vw;
            text-align: center;
            border-radius: 0.5vw;

            p {
              font-size: 2.2vw;
            }
          }

          div {
            margin: 0.5vw;
            display: flex;
            flex-direction: column;

            p {
              font-size: 0.7vw;
            }

            .ISOCode {
              font-size: 1.5vw;
            }
          }
        }

        .card-footer {
          margin: 1.5vw 1vw 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 10vw;

          p {
            font-size: 0.9vw;
          }

          aside {
            display: flex;
            justify-content: center;
            width: 2vw;

            img {
              margin-top: 0.3vw;
              width: 1.8vw;
              cursor: pointer;
              transition-duration: 0.1s;
            }

            img:hover {
              transition-duration: 0.1s;
              width: 1.6vw;
            }

            img:active {
              transition-duration: 0.1s;
              width: 1.4vw;
            }
          }
        }
      }

      .currency-card:first-child {
        margin-top: 2vw;
      }

      .currency-card:nth-child(even) {
        background-color: #586aea;
      }

      .no-currencies {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #ffffff;
        width: 25vw;
        margin-top: 7vw;

        img {
          width: 15vw;
          margin: 1vw 0;
        }

        p:first-child {
          font-size: 1.4vw;
        }

        p:last-child {
          font-size: 1vw;
          color: #ffffffc4;
        }

        p:last-child:before {
          content: "";
          display: block;
          height: 0.1vw;
          width: 18vw;
          margin: 0 auto 1vw;
          background-color: #f49d00;
        }
      }
    }
  }
}
